
.list-group .list-group-item.active {
    color: #3884ff;
    border-left: 4px solid #3884ff!important;
    font-weight: 500;
    padding-left: 11px;
}

.gb-markdown code {
    background-color: #d4d4d4;
}

blockquote.issue
,blockquote.note
,blockquote.example
,blockquote.why
,blockquote.warning
,blockquote.advisement
,blockquote.tip {
    padding: .6em;
    border: .5em;
    border-left-style: solid;
    page-break-inside: avoid;
    color: black;
}

.note::before
,.issue::before
,.example::before
,.warning::before
,.why::before
,.tip::before {
    font-weight: bold;
    font-family: Times, Georgia, serif;
}

blockquote.tip, blockquote.why {
    border-color: hsl(120, 60%, 48%);
    background: #E9FBE9;
    overflow: auto;
}

.tip::before {
    content: "Tip:\00a0";
    color: limegreen;
}
blockquote.info {
    margin: 0;
    margin-bottom: .85em;
    padding: 0 15px;
    color: #858585;
    border-left: 4px solid #42acf3;
}
blockquote.warning {
    margin: 0;
    margin-bottom: .85em;
    padding: 0 15px;
    color: #858585;
    border-left: 4px solid #f0ad4e;
}
blockquote.example {
    border-color: #E0CB52;
    background: #FCFAEE;
    counter-increment: exampleno;
    overflow: auto;
    clear: both;
}

blockquote.note {
    background: #e2eef9;
    border-color: #bac6d3;
    color: #246;
}

.note::before {
    content: "Note:\00a0";
}

.example::before {
    content: "Example:\00a0";
    color: #827017;
}

blockquote.issue {
    border-color: #E05252;
    background: #FBE9E9;
    counter-increment: issue;
    overflow: auto;
}

.issue::before {
    content: "ISSUE:\00a0";
    color: #AE1E1E;
}

blockquote.advisement {
    border-color: orange;
    border-style: none solid;
    background: #FFEECC;
    text-align: center;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 octicons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-info-circle:before {
    content: "\f059";
}
.fa-exclamation-circle:before {
    content: "\f02d";
}
.fa-ban:before {
    content: "\f05e";
}
.fa-check-circle:before {
    content: "\f084";
}

.no-underline:hover
,.no-underline a:hover {
    text-decoration: none;
}#fff
