{% extends template.self %}      
        {% block header %}
               {{ super() }}

            <a href="/index.html" class="btn btn-link btn-md" role="button" data-reactid="11">
                主页
            </a>
            <a href="/js/" class="btn btn-link btn-md" role="button" data-reactid="11">
              JavaScript
            </a>
            </a>
            <a href="/css/" class="btn btn-link btn-md" role="button" data-reactid="11">
              CSS
            </a>
        {% endblock %}
